body {
    background-color: white;
}

.image {
    text-align: center;
}


#canvas {
    border: 5px solid black;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
    margin-bottom: 20px;
}

.text { 
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.output {
    text-align: center;
}